

<section style="background-color:#000019;color:#fff;" class="bg-dark poR">
<div class="footer" style="position:relative">
<div class="container">
<div class="row">
<div class="col-sm-3 col-md-3">
<div class="footer-block">
<p style="color:white"><strong>Company</strong> </p>
<ul class="list-unstyled ">
<li><i class="fa fa-user " aria-hidden="true" style="margin-right: 5px;"></i><a class="abc no-underline" target="_blank" href="https://codeground.in/about_us.html">About Us</a></li>
<li><i class="fa fa-file-text" aria-hidden="true" style="margin-right: 5px;"></i><a class="abc" target="_blank" href="http://helpcenter.codeground.in/?ht_kb=service-policy">Terms Of Services</a> </li>
<li><i class="fa fa-file-text" aria-hidden="true" style="margin-right: 5px;"></i><a class="abc" target="_blank" href="http://helpcenter.codeground.in/?ht_kb=service-policy#cancellation-and-refund">Refund Policy</a> </li>
<li><i class="fa fa-file-text" aria-hidden="true" style="margin-right: 5px;"></i><a class="abc" target="_blank" href="http://helpcenter.codeground.in/?ht_kb=privacy-policy">Privacy Policy</a> </li>
<li><i class="fa fa-file-text" aria-hidden="true" style="margin-right: 5px;"></i><a class="abc" target="_blank" href="https://codeground.in/Pricing.html">Pricing</a></li>
<li><i class="fa fa-users" aria-hidden="true" style="margin-right: 5px;"></i><a class="abc" target="_blank" href="https://codeground.in/Codeground-customers.html">Our Customers</a></li>
</ul>
</div>
</div>
<div class="col-sm-3 col-md-3">
<div class="footer-block">
<p style="color:white"><strong>Knowledge Base</strong> </p>
<ul class="list-unstyled ">
<li><i class="fa fa-rss" aria-hidden="true" style="margin-right: 5px;"></i><a class="abc" target="_blank" href="https://codeground.in/blog/">Blog</a></li>
<li><i class="fa fa-file-text" aria-hidden="true" style="margin-right: 5px;"></i><a class="abc" target="_blank" href="https://www.youtube.com/channel/UC39Ase4y49IGIJbB5eRaWKA">Webinars</a></li>
<li><i class="fa fa-play" aria-hidden="true" style="margin-right: 5px;"></i><a class="abc" target="_blank" href="https://www.youtube.com/channel/UC39Ase4y49IGIJbB5eRaWKA">Videos</a></li>
<li><i class="fa fa-location-arrow" aria-hidden="true" style="margin-right: 5px;"></i><a class="abc" target="_blank" href="https://codeground.in/sitemap.xml">Sitemap</a></li>
<li><i class="fa fa-file-text" aria-hidden="true" style="margin-right: 5px;"></i><a class="abc" target="_blank" href="https://codeground.in/EventResults/Event_Results.html">Code Byte</a></li>
<li><i class="fa fa-file-text" aria-hidden="true" style="margin-right: 5px;"></i><a class="abc" target="_blank" href="https://codeground.in/employability-test.html">Test Category</a></li>
<li><i class="fa fa-file-text" aria-hidden="true" style="margin-right: 5px;"></i><a class="abc" target="_blank" href="https://codeground.in/codeground-media.html">Codeground In Media</a></li>
</ul>
</div>
</div>
<div class="col-sm-3 col-md-3">
<div class="footer-block">
<p style="color:white"><strong>Recruitment Resources</strong> </p>
<ul class="list-unstyled ">
<li><i class="fa fa-file-text" aria-hidden="true" style="margin-right: 5px;"></i><a class="abc" target="_blank" href="https://codeground.in/screening-tests/coding-contests.html">Coding test</a></li>
<li><i class="fa fa-file-text" aria-hidden="true" style="margin-right: 5px;"></i><a class="abc" target="_blank" href="https://codeground.in/online-aptitude-test.html">Aptitude Tests</a></li>
<li><i class="fa fa-file-text" aria-hidden="true" style="margin-right: 5px;"></i><a class="abc" target="_blank" href="https://codeground.in/english-communication-skills.html">English Tests</a></li>
 <li><i class="fa fa-microphone" aria-hidden="true" style="margin-right: 5px;"></i><a class="abc" target="_blank" href="https://codeground.in/online-job-interview.html">Recorded Interviews</a></li>
<li><i class="fa fa-check" aria-hidden="true" style="margin-right: 5px;"></i><a class="abc" target="_blank" href="https://codeground.in/campus-hiring.html">Campus Recruitment</a></li>

<li><i class="fa fa-book" aria-hidden="true" style="margin-right: 5px;"></i><a class="abc" target="_blank" href="https://codeground.in/codeground-library.html">Question Library</a></li>
<li><i class="fa fa-file-text" aria-hidden="true" style="margin-right: 5px;"></i><a class="abc" target="_blank" href="https://codeground.in/employability-test.html">Premium Employability Tests</a></li>
</ul>
</div>
</div>
<div class="col-sm-3 col-md-3">
<div class="footer-block">
<p style="color:white"><strong>Reach Us</strong></p>
<ul class="list-unstyled">
<li><i class="fa fa-home less-margin-right"></i> <a target="_blank" style="color:white" class="no-underline" href="https://codeground.in/contactUs.html">Office Address</a></li>
<li><i class="fa fa-envelope less-margin-right"></i> <a style="color:white">support@codeground.in</a></li>
<li><i class="fa fa-phone less-margin-right"></i> <a style="color:white" class="no-underline">080-65555814</a></li>
<li><i class="fa fa-phone less-margin-right"></i> <a style="color:white" class="no-underline">+91-8265950300</a></li>
</ul>
</div>
</div>
</div>
<div class="row">
<a href="https://www.facebook.com/codeGroundOnlineTest/" target="_blank"><img style="width:39px; height:39px" src="./img/social/facebook.svg" alt="Connect to CodeGround Recruitment Testing Platform via Facebook"></a>
<a href="https://www.linkedin.com/company/codeground-in" target="_blank"><img style="width:39px; height:39px" src="./img/social/linkedin.svg" alt="Connect to CodeGround Recruitment Testing Platform via LinkedIn"></a>
<a href="https://twitter.com/code_ground" target="_blank"><img style="width:39px; height:39px" src="./img/social/twitter.svg" alt="Connect to CodeGround Recruitment Testing Platform via Twitter"></a>
<a href="https://www.youtube.com/channel/UC39Ase4y49IGIJbB5eRaWKA" target="_blank"><img style="width:39px; height:39px" src="./img/social/youtube.png" alt="Watch YouTube Videos from CodeGround Online Recruitment Testing Platform"></a>
</div>
</div>
<div class="text-center copyright-col">&COPY; CodeGround. All Rights Reserved</div>
</div>

</section>
