{% include header.html %}
<div class="main-content container">
		<div class="row">
			<div class="col-sm-3">
				<div class="nav-group">
					<h4 class="nav-header">API</h4>
					<ul class="nav nav-pills nav-menu nav-stacked nav-left">
						<li class="active"><a href="getStarted.html" >Getting started</a></li>
						<li class={{class}} id ="prerequisitesId"><a href="prerequisites.html" >Prerequisites</a></li>
						<li class=""><a href="authentication.html" >Authentication and security</a></li>
						<li class=""><a href="hitLimit.html" >Hit Limit</a></li>
					</ul>
					<h4 class="nav-header">API v2 Documentation</h4>
					<ul class="nav nav-pills nav-menu nav-stacked nav-left">
						<li><a href="getLiveTest.html" id="getLiveTestId">Get all tests</a></li>
						<li><a href="generateInviteLink.html" class="">Generate Invite Link</a></li>
						<li><a href="getCandidateReport.html" class="">Get Candidate Report</a></li>
						<li><a href="/api/live-api" class="">Live API</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-9">
				{{ content }}
			</div>
		</div>
	</div>

{% include footer.html %}